In [1]:
import pandas as pd
df = pd.read_csv("C:/Users/gayus/OneDrive/Desktop/Master Course/NDSC/mobile_data_info_val_competition_finalised.csv")
df.shape

(40417, 14)

In [2]:
from pandas import DataFrame 


os = df[['itemid','Operating System']]

os.head()
#df['itemid'] = + '_' + 'Operating System'

os['itemid'] = os['itemid'].map(str) + '_' + 'Operating System'

os = os.rename(columns={'itemid': 'id', 'Operating System': 'tagging'})
os.head()

C:\Users\gayus\Anaconda\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

                            id  tagging
0  1520485457_Operating System      1.0
1  1520516704_Operating System      6.0
2  1520726573_Operating System      6.0
3  1523303826_Operating System      6.0
4  1524467616_Operating System      6.0

In [3]:
fea = df[['itemid','Features']]

fea.head()
#df['itemid'] = + '_' + 'Operating System'

fea['itemid'] = fea['itemid'].map(str) + '_' + 'Features'

fea = fea.rename(columns={'itemid': 'id', 'Features': 'tagging'})
fea.head()

C:\Users\gayus\Anaconda\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

                    id  tagging
0  1520485457_Features      4.0
1  1520516704_Features      0.0
2  1520726573_Features      4.0
3  1523303826_Features      4.0
4  1524467616_Features      4.0

In [4]:
fea = df[['itemid','Features']]

fea.head()
#df['itemid'] = + '_' + 'Operating System'

fea['itemid'] = fea['itemid'].map(str) + '_' + 'Features'

fea = fea.rename(columns={'itemid': 'id', 'Features': 'tagging'})
fea.head()

C:\Users\gayus\Anaconda\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

                    id  tagging
0  1520485457_Features      4.0
1  1520516704_Features      0.0
2  1520726573_Features      4.0
3  1523303826_Features      4.0
4  1524467616_Features      4.0

In [5]:
nc = df[['itemid','Network Connections']]

nc.head()

nc['itemid'] = nc['itemid'].map(str) + '_' + 'Network Connections'

nc = nc.rename(columns={'itemid': 'id', 'Network Connections': 'tagging'})
nc.head()

C:\Users\gayus\Anaconda\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

                               id  tagging
0  1520485457_Network Connections      0.0
1  1520516704_Network Connections      0.0
2  1520726573_Network Connections      0.0
3  1523303826_Network Connections      0.0
4  1524467616_Network Connections      0.0

In [6]:
ram = df[['itemid','Memory RAM']]

ram.head()

ram['itemid'] = ram['itemid'].map(str) + '_' + 'Memory RAM'

ram = ram.rename(columns={'itemid': 'id', 'Memory RAM': 'tagging'})
ram.head()

C:\Users\gayus\Anaconda\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

                      id  tagging
0  1520485457_Memory RAM      9.0
1  1520516704_Memory RAM      7.0
2  1520726573_Memory RAM      5.0
3  1523303826_Memory RAM      4.0
4  1524467616_Memory RAM      7.0

In [7]:
br = df[['itemid','Brand']]

br.head()

br['itemid'] = br['itemid'].map(str) + '_' + 'Brand'

br = br.rename(columns={'itemid': 'id', 'Brand': 'tagging'})
br.head()

C:\Users\gayus\Anaconda\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

                 id  tagging
0  1520485457_Brand      2.0
1  1520516704_Brand     33.0
2  1520726573_Brand     55.0
3  1523303826_Brand     33.0
4  1524467616_Brand     22.0

In [8]:
wa = df[['itemid','Warranty Period']]

wa.head()

wa['itemid'] = wa['itemid'].map(str) + '_' + 'Warranty Period'

wa = wa.rename(columns={'itemid': 'id', 'Warranty Period': 'tagging'})
wa.head()

C:\Users\gayus\Anaconda\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

                           id  tagging
0  1520485457_Warranty Period     13.0
1  1520516704_Warranty Period     13.0
2  1520726573_Warranty Period     13.0
3  1523303826_Warranty Period     13.0
4  1524467616_Warranty Period     13.0

In [9]:
st = df[['itemid','Storage Capacity']]

st.head()

st['itemid'] = st['itemid'].map(str) + '_' + 'Storage Capacity'

st = st.rename(columns={'itemid': 'id', 'Storage Capacity': 'tagging'})
st.head()

C:\Users\gayus\Anaconda\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

                            id  tagging
0  1520485457_Storage Capacity     12.0
1  1520516704_Storage Capacity     12.0
2  1520726573_Storage Capacity     12.0
3  1523303826_Storage Capacity      1.0
4  1524467616_Storage Capacity     12.0

In [10]:
col = df[['itemid','Color Family']]

col.head()

col['itemid'] = col['itemid'].map(str) + '_' + 'Color Family'

col = col.rename(columns={'itemid': 'id', 'Color Family': 'tagging'})
col.head()

C:\Users\gayus\Anaconda\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

                        id  tagging
0  1520485457_Color Family     12.0
1  1520516704_Color Family     12.0
2  1520726573_Color Family     12.0
3  1523303826_Color Family      1.0
4  1524467616_Color Family     12.0

In [11]:
pm = df[['itemid','Phone Model']]

pm.head()

pm['itemid'] = pm['itemid'].map(str) + '_' + 'Phone Model'

pm = pm.rename(columns={'itemid': 'id', 'Phone Model': 'tagging'})
pm.head()

C:\Users\gayus\Anaconda\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

                       id  tagging
0  1520485457_Phone Model   1402.0
1  1520516704_Phone Model    762.0
2  1520726573_Phone Model    993.0
3  1523303826_Phone Model   1574.0
4  1524467616_Phone Model    181.0

In [12]:
cam = df[['itemid','Camera']]

cam.head()

cam['itemid'] = cam['itemid'].map(str) + '_' + 'Camera'

cam = cam.rename(columns={'itemid': 'id', 'Camera': 'tagging'})
cam.head()

C:\Users\gayus\Anaconda\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

                  id  tagging
0  1520485457_Camera      5.0
1  1520516704_Camera      8.0
2  1520726573_Camera      8.0
3  1523303826_Camera      1.0
4  1524467616_Camera      9.0

In [13]:
scr = df[['itemid','Phone Screen Size']]

scr.head()

scr['itemid'] = scr['itemid'].map(str) + '_' + 'Phone Screen Size'

scr = scr.rename(columns={'itemid': 'id', 'Phone Screen Size': 'tagging'})
scr.head()

C:\Users\gayus\Anaconda\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

                             id  tagging
0  1520485457_Phone Screen Size      1.0
1  1520516704_Phone Screen Size      5.0
2  1520726573_Phone Screen Size      2.0
3  1523303826_Phone Screen Size      0.0
4  1524467616_Phone Screen Size      2.0

In [14]:
combine = pd.concat([os,fea, nc, ram, br, wa, st, col, pm, cam, scr], axis=0)
com_sort = combine.sort_values(by='id')

In [15]:
com_sort.tail()

                               id  tagging
8658   999995789_Operating System      6.0
8658        999995789_Phone Model    725.0
8658  999995789_Phone Screen Size      2.0
8658   999995789_Storage Capacity     12.0
8658    999995789_Warranty Period     13.0

eg = pd.read_csv("C:/Users/gayus/OneDrive/Desktop/Master Course/NDSC/data_info_val_sample_submission.csv")

eg_id = eg[['id']]

eg_id.shape

result = pd.merge(eg_id,
                 combine[['id', 'tagging']],
                 on='id', 
                 how='left')

result.tail()

In [16]:
import pandas as pd
df1 = pd.read_csv("C:/Users/gayus/OneDrive/Desktop/Master Course/NDSC/beauty_data_info_val_competition_finalised.csv")
df1.shape

(76545, 8)

In [17]:
ben = df1[['itemid','Benefits']]

ben.head()

ben['itemid'] = ben['itemid'].map(str) + '_' + 'Benefits'

ben = ben.rename(columns={'itemid': 'id', 'Benefits': 'tagging'})
ben.head()

C:\Users\gayus\Anaconda\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

                    id  tagging
0   370855998_Benefits      6.0
1   637234604_Benefits      6.0
2   690282890_Benefits      1.0
3   930913462_Benefits      6.0
4  1039280071_Benefits      6.0

In [18]:
br1 = df1[['itemid','Brand']]

br1.head()

br1['itemid'] = br1['itemid'].map(str) + '_' + 'Brand'

br1 = br1.rename(columns={'itemid': 'id', 'Brand': 'tagging'})
br1.head()

C:\Users\gayus\Anaconda\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

                 id  tagging
0   370855998_Brand    208.0
1   637234604_Brand    282.0
2   690282890_Brand    205.0
3   930913462_Brand    104.0
4  1039280071_Brand      4.0

In [19]:
cg = df1[['itemid','Colour_group']]

cg.head()

cg['itemid'] = cg['itemid'].map(str) + '_' + 'Colour_group'

cg = cg.rename(columns={'itemid': 'id', 'Colour_group': 'tagging'})
cg.head()

C:\Users\gayus\Anaconda\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

                        id  tagging
0   370855998_Colour_group     22.0
1   637234604_Colour_group     24.0
2   690282890_Colour_group      7.0
3   930913462_Colour_group     22.0
4  1039280071_Colour_group      9.0

In [20]:
pt = df1[['itemid','Product_texture']]

pt.head()

pt['itemid'] = pt['itemid'].map(str) + '_' + 'Product_texture'

pt = pt.rename(columns={'itemid': 'id', 'Product_texture': 'tagging'})
pt.head()

C:\Users\gayus\Anaconda\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

                           id  tagging
0   370855998_Product_texture      8.0
1   637234604_Product_texture      8.0
2   690282890_Product_texture      8.0
3   930913462_Product_texture      8.0
4  1039280071_Product_texture      8.0

In [21]:
st = df1[['itemid','Skin_type']]

st.head()

st['itemid'] = st['itemid'].map(str) + '_' + 'Skin_type'

st = st.rename(columns={'itemid': 'id', 'Skin_type': 'tagging'})
st.head()

C:\Users\gayus\Anaconda\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

                     id  tagging
0   370855998_Skin_type      6.0
1   637234604_Skin_type      1.0
2   690282890_Skin_type      3.0
3   930913462_Skin_type      7.0
4  1039280071_Skin_type      7.0

In [22]:
combine_beauty = pd.concat([ben, br1, cg, pt, st], axis=0)
beauty_sort = combine_beauty.sort_values(by='id')
beauty_sort.head()

                              id  tagging
47245         100007034_Benefits      1.0
47245            100007034_Brand    220.0
47245     100007034_Colour_group     20.0
47245  100007034_Product_texture      5.0
47245        100007034_Skin_type      0.0

In [23]:
combine_beauty_mobile = pd.concat([combine, combine_beauty], axis=0)
beauty_mobile_sort = combine_beauty_mobile.sort_values(by='id')
beauty_mobile_sort.head()

                              id  tagging
47245         100007034_Benefits      1.0
47245            100007034_Brand    220.0
47245     100007034_Colour_group     20.0
47245  100007034_Product_texture      5.0
47245        100007034_Skin_type      0.0

result2 = pd.merge(eg_id,
                 combine_beauty_mobile[['id', 'tagging']],
                 on='id', 
                 how='left')

result2.tail(50)

In [24]:
import pandas as pd
df2 = pd.read_csv("C:/Users/gayus/OneDrive/Desktop/Master Course/NDSC/fashion_data_info_val_competition_finalised.csv")
df2.shape

(30135, 8)

In [25]:
pat = df2[['itemid','Pattern']]

pat.head()

pat['itemid'] = pat['itemid'].map(str) + '_' + 'Pattern'

pat = pat.rename(columns={'itemid': 'id', 'Pattern': 'tagging'})
pat.head()

C:\Users\gayus\Anaconda\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

                  id  tagging
0  381034175_Pattern      5.0
1  396355150_Pattern      6.0
2  592583745_Pattern      6.0
3  721929368_Pattern      6.0
4  800794259_Pattern      6.0

In [26]:
cot = df2[['itemid','Collar Type']]

cot.head()

cot['itemid'] = cot['itemid'].map(str) + '_' + 'Collar Type'

cot = cot.rename(columns={'itemid': 'id', 'Collar Type': 'tagging'})
cot.head()

C:\Users\gayus\Anaconda\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

                      id  tagging
0  381034175_Collar Type      8.0
1  396355150_Collar Type      1.0
2  592583745_Collar Type      8.0
3  721929368_Collar Type      8.0
4  800794259_Collar Type      3.0

In [27]:
fas = df2[['itemid','Fashion Trend']]

fas.head()

fas['itemid'] = fas['itemid'].map(str) + '_' + 'Fashion Trend'

fas = fas.rename(columns={'itemid': 'id', 'Fashion Trend': 'tagging'})
fas.head()

C:\Users\gayus\Anaconda\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

                        id  tagging
0  381034175_Fashion Trend      6.0
1  396355150_Fashion Trend      7.0
2  592583745_Fashion Trend     10.0
3  721929368_Fashion Trend     10.0
4  800794259_Fashion Trend     10.0

In [28]:
cm = df2[['itemid','Clothing Material']]

cm.head()

cm['itemid'] = cm['itemid'].map(str) + '_' + 'Clothing Material'

cm = cm.rename(columns={'itemid': 'id', 'Clothing Material': 'tagging'})
cm.head()

C:\Users\gayus\Anaconda\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

                            id  tagging
0  381034175_Clothing Material      3.0
1  396355150_Clothing Material     18.0
2  592583745_Clothing Material      7.0
3  721929368_Clothing Material      7.0
4  800794259_Clothing Material      7.0

In [29]:
sle = df2[['itemid','Sleeves']]

sle.head()

sle['itemid'] = sle['itemid'].map(str) + '_' + 'Sleeves'

sle = sle.rename(columns={'itemid': 'id', 'Sleeves': 'tagging'})
sle.head()

C:\Users\gayus\Anaconda\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

                  id  tagging
0  381034175_Sleeves      3.0
1  396355150_Sleeves      3.0
2  592583745_Sleeves      3.0
3  721929368_Sleeves      3.0
4  800794259_Sleeves      3.0

In [30]:
combine_fashion = pd.concat([pat, cot, fas, cm, sle], axis=0)
fashion_sort = combine_fashion.sort_values(by='id')
fashion_sort.head()

                                 id  tagging
16762  1001220319_Clothing Material     18.0
16762        1001220319_Collar Type      3.0
16762      1001220319_Fashion Trend     10.0
16762            1001220319_Pattern     14.0
16762            1001220319_Sleeves      1.0

In [31]:
beauty_mobile_fashion = pd.concat([combine, combine_beauty, combine_fashion], axis=0)
beauty_mobile_fashion.tagging = beauty_mobile_fashion.tagging.astype(int)
beauty_mobile_fashion_sort = beauty_mobile_fashion.sort_values(by='id')
beauty_mobile_fashion_sort.head()

                              id  tagging
47245         100007034_Benefits        1
47245            100007034_Brand      220
47245     100007034_Colour_group       20
47245  100007034_Product_texture        5
47245        100007034_Skin_type        0

In [32]:
beauty_mobile_fashion_sort.shape

(977987, 2)

In [33]:
beauty_mobile_fashion_sort.head(50)

                                   id  tagging
47245              100007034_Benefits        1
47245                 100007034_Brand      220
47245          100007034_Colour_group       20
47245       100007034_Product_texture        5
47245             100007034_Skin_type        0
32672                1000072699_Brand       55
32672               1000072699_Camera        8
32672         1000072699_Color Family       12
32672             1000072699_Features        4
32672           1000072699_Memory RAM        5
32672  1000072699_Network Connections        0
32672     1000072699_Operating System        6
32672          1000072699_Phone Model      993
32672    1000072699_Phone Screen Size        2
32672     1000072699_Storage Capacity       12
32672      1000072699_Warranty Period       13
46867             1000117914_Benefits        2
46867                1000117914_Brand        1
46867         1000117914_Colour_group        9
46867      1000117914_Product_texture        2
46867            1000117914_Skin_type        0
45335             1000119943_Benefits        3
45335                1000119943_Brand      349
45335         1000119943_Colour_group        9
45335      1000119943_Product_texture        8
45335            1000119943_Skin_type        0
13837              100012848_Benefits        1
13837                 100012848_Brand       77
13837          100012848_Colour_group       12
13837       100012848_Product_texture        0
13837             100012848_Skin_type        3
44816             1000132553_Benefits        3
44816                1000132553_Brand      146
44816         1000132553_Colour_group        9
44816      1000132553_Product_texture        8
44816            1000132553_Skin_type        0
25592                1000146943_Brand       55
25592               1000146943_Camera        5
25592         1000146943_Color Family        3
25592             1000146943_Features        0
25592           1000146943_Memory RAM        9
25592  1000146943_Network Connections        0
25592     1000146943_Operating System        6
25592          1000146943_Phone Model     1981
25592    1000146943_Phone Screen Size        0
25592     1000146943_Storage Capacity       12
25592      1000146943_Warranty Period       13
31640                1000173517_Brand       43
31640               1000173517_Camera        2
31640         1000173517_Color Family       12

In [34]:
export_csv = beauty_mobile_fashion.to_csv (r'C:/Users/gayus/OneDrive/Desktop/Master Course/NDSC/concatenated_results_final.csv', index = None, header=True)